<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaed64">  <td>17/01/07 23:58:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;com.ki.driverscript.DriverScriptRef.afterMethod()">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@3447021</td>   <td></td> </tr>
<tr bgcolor="aaed64">  <td>17/01/07 23:57:56</td>   <td>-6595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;com.ki.driverscript.DriverScriptRef.beforeMethod()">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@3447021</td>   <td></td> </tr>
<tr bgcolor="aaed64">  <td>17/01/07 23:57:57</td>   <td>-6344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="com.ki.driverscript.DriverScriptRef.main()">main</td> 
  <td>main@3447021</td>   <td></td> </tr>
</table>
