<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="927a81">  <td>17/03/10 13:38:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;com.ki.driverscript.DriverScriptRef.beforeMethod()">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@232824863</td>   <td></td> </tr>
<tr bgcolor="927a81">  <td>17/03/10 13:38:36</td>   <td>379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="com.ki.driverscript.DriverScriptRef.main()">main</td> 
  <td>main@232824863</td>   <td></td> </tr>
<tr bgcolor="927a81">  <td>17/03/10 21:35:37</td>   <td>28620769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;com.ki.driverscript.DriverScriptRef.afterMethod()">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@232824863</td>   <td></td> </tr>
</table>
