<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d99988">  <td>16/10/27 07:40:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScriptRef.beforeMethod()[pri:0, instance:com.qfor.driverscript.DriverScriptRef@59a6e353]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740035246</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>16/10/27 07:40:00</td>   <td>270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverScriptRef.main()[pri:0, instance:com.qfor.driverscript.DriverScriptRef@59a6e353]">main</td> 
  <td>main@1740035246</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>16/10/27 07:42:55</td>   <td>174620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScriptRef.afterMethod()[pri:0, instance:com.qfor.driverscript.DriverScriptRef@59a6e353]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740035246</td>   <td></td> </tr>
</table>
